# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI (Node.js) Build and Test

on:
  workflow_dispatch:
  push:
    branches: [ main, next ]
  pull_request:
    types:
      - opened
    branches: [ main, next ]

permissions:
  contents: read   # minimal token permissions
  security-events: write   # required for CodeQL analysis uploads
  pull-requests: write
  actions: write
  statuses: write
env:
  HUSKY: 0
  MOCK_PATH: ${{ github.workspace }}/mock-firebolt
  MOCK_SHA1SUM: cf0c4b35b5f3997bd9e6f82a18d57eafa0c62192
  MOCK_PATCH: ${{ github.workspace }}/.github/mock-firebolt/events.patch

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [lts/*]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
      with:
          submodules: recursive
    # CodeQL steps
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: javascript
        source-root: src
        queries: +security-and-quality
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: node -v && npm -v
    - run: pwd && ls -la && ls -la
    - run: npm ci
    - run: ls -la node_modules/@firebolt-js | sed -n '1,200p'
    - run: npm run fs:setup
    - run: npm run validate:each
    - run: npm run compile
    - run: npm run slice
    - run: npm run validate:compiled
    - run: npm run specification 
    - run: npm run sdks
    - run: npm run test

    - name: Setup Mock-Firebolt
      run: bash .github/scripts/mock-firebolt.sh
      
    - name: Run Component Tests
      working-directory: ${{ github.workspace }} 
      shell: bash
      # change the directory to the github workspace
      run: | 
        cd "${{ github.workspace }}"
        npm run test:component